chromium
Pinta
btop
dconf
environment.d
fastfetch
fcitx/dbus
fcitx5
fontconfig
gh
ghostty
git
gtk-3.0
ibus/bus
kitty
libreoffice/4/user
obsidian
pulse
qalculate
systemd/user
uwsm
xournalpp
kdenlive-layoutsrc
kdenliverc
mimeapps.list
user-dirs.dirs
user-dirs.locale
omarchy.ttf
JetBrains/CLion2025.2
Postman
